#searching {
  border-radius: 10px;
}

input[type=text] {
    width: 200px;
    font-size: 16px;
    padding: 6px 10px 6px 20px;
    border: 3px solid #00B4CC;
    border-radius: 4px;
}


input[type=submit] {
padding: 5px 8px 5px;
font-size: 14px;
background-color: #57d6c7;
color: #ffffff;
border-radius: 5px;
border: 1px solid #57D6C7;

}



header h1.mdl-layout-title {
    font-size: 32px;
    color: white;
}
header h1 span {
    color: #ff6e40;
}

.profile {
   background-color: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.profile span {
   font-size: 90%;   
}
.avatar {
  width: 96px;
  height: 96px;  
    border-radius: 50%;
    
    display: block;
}

.page-content {
  margin: 10px;   
}

main header {
    margin: 0;
    min-height: 40px;
    padding-left: 10px;
    padding-top: 5px;
}
main header h4 {
  margin: 0; 
    
    font-size: 18px;
}


.card-lesson {
  min-width: 200px;
  min-height: 100px;
}
.card-lesson > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.card-lesson > .mdl-card__title {
  align-items: flex-start;
}
.card-lesson > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-lesson > .mdl-card__title, .card-lesson > .mdl-card__supporting-text, .card-lesson > .mdl-card__actions, .card-lesson > .mdl-card__actions > .mdl-button {
  _color: #fff;
}

#filter {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
}

.modal
{
    display:none;
    position:absolute;
    z-index:1;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

    /*background-image:url("images/dark.png");*/
    /* ieWin only stuff */
        /* with this trick only IE
           manage the following 2 attributes */
    /*background-image:none;*/
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader*/
    /*    (enabled=true, sizingMethod=scale src='dark.png');*/
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




.inlinesparkline  {width: 70%;}