#imgzoom {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#errormsg {
    display: none;
}

.mdl-layout {
	align-items: center;
    justify-content: center;
}

.mdl-layout__content {
	padding: 10px;
	flex: none;
	text-align: center;
}

/*
// TRYING TO FIT TO SCREEN - DOESN'T WORK //
#imglrg {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;

}
#imgid {
    position: relative;
    padding-left: 500px;
    padding-bottom: 100px;
    margin: auto;
}
*/


#imgid {
    position: relative;
    padding: 0px 500px 100px 500px;
    margin: auto;
}

#filter input[type=text] {
    width: 160px;
    font-size: 10px;
    padding: 4px 8px 4px 10px;
    border: 1px solid #00B4CC;
    border-radius: 3px;
}


input[type=submit] {
margin-top: 10px;
padding: 5px 8px 5px;
font-size: 14px;
background-color: #57d6c7;
color: #ffffff;
border-radius: 5px;
border: 1px solid #57D6C7;

}


#searching input[type=text] {
    width: 200px;
    font-size: 12px;
    padding: 8px 10px 6px 20px;
    border: 1px solid #00B4CC;
    border-radius: 4px;
}

#searching input[type=submit] {
margin-top: 10px;
margin-left: 160px;
padding: 5px 8px 5px;
font-size: 14px;
background-color: #57d6c7;
color: #ffffff;
border-radius: 5px;
border: 1px solid #57D6C7;

}



header h1.mdl-layout-title {
    font-size: 32px;
    color: white;
}
header h1 span {
    color: #ff6e40;
}

.profile {
   background-color: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.profile span {
   font-size: 90%;   
}
.avatar {
  width: 96px;
  height: 96px;  
    border-radius: 50%;
    
    display: block;
}

.page-content {
  margin: 10px;   
}

main header {
    margin: 0;
    min-height: 40px;
    padding-left: 10px;
    padding-top: 5px;
}
main header h4 {
  margin: 0; 
    
    font-size: 18px;
}


.card-lesson {
  min-width: 200px;
  min-height: 100px;
}
.card-lesson > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.card-lesson > .mdl-card__title {
  align-items: flex-start;
}
.card-lesson > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-lesson > .mdl-card__title, .card-lesson > .mdl-card__supporting-text, .card-lesson > .mdl-card__actions, .card-lesson > .mdl-card__actions > .mdl-button {
  _color: #fff;
}

#filter {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
}

.modal
{
    display:none;
    position:absolute;
    z-index:1;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#button{
margin-top: 10px;
margin-left: 160px;
padding: 5px 8px 5px;
font-size: 14px;
background-color: #57d6c7;
color: #ffffff;
border-radius: 5px;
border: 1px solid #57D6C7;

}




.inlinesparkline  {width: 70%;}